# Use the latest 2.1 version of CircleCI pipeline process engine.
# See: https://circleci.com/docs/2.0/configuration-reference
version: 2.1

# Explicit tag filters to trigger workflows on tags
tag_filters: &tag_filters
  filters:
    tags:
      only:
        - /.+/

orbs:
  win: circleci/windows@2.4.0
  macos: circleci/macos@2.4.1

aliases:
  - &tasks ["compile:all clean:all", "compile:user clean:user", "compile:debug clean:debug"]
  - &platforms ["argon", "boron", "esomx", "bsom", "b5som", "tracker", "p2", "trackerm", "msom", "electron2"]

# Define a job to be invoked later in a workflow.
# See: https://circleci.com/docs/2.0/configuration-reference/#jobs
jobs:
  setup-workspace:
    machine:
      image: ubuntu-2004:current
    steps:
      - run:
          name: "Create Tested Platforms Files in Workspace"
          command: |
            mkdir -p $HOME/workspace/tested-platforms
            ls -la $HOME/workspace
            ls -la $HOME/workspace/tested-platforms
            echo ":::: done!"
      - persist_to_workspace:
          root: ~/workspace
          paths:
            - tested-platforms
  validate-toolchain-platforms:
    machine:
      image: ubuntu-2004:current
    steps:
      - attach_workspace:
          at: ~/workspace
      - checkout
      - install-prtcl-ubuntu
      - run:
          name: "Check if all toolchain platforms were tested"
          command: |
            ls -la $HOME/workspace
            ls -la $HOME/workspace/tested-platforms
            echo
            deviceOSPath=~/project
            deviceOSSource="source:${deviceOSPath}"
            toolchain="$(prtcl toolchain:view ${deviceOSSource} --json)"
            platformsStr=$(echo $toolchain | jq '.platforms' | jq 'map(.name)')
            platforms=()
            while read p; do
                platforms+=($(echo ${p} | tr -d '"'))
            done < <(echo $platformsStr | jq -c '.[]')
            echo ":::: Found toolchain platforms: ${platforms[@]}"
            oses=(
              'darwin-x64'
              'ubuntu-x64'
              'windows-x64'
            )
            for os in "${oses[@]}"; do
              for platform in "${platforms[@]}"; do
                dir="${HOME}/workspace/tested-platforms"
                prefix="${os}-${platform}"
                pattern="${prefix}-*"
                echo ":::: Checking for results matching '${dir}/${pattern}'"
                results=$(find $dir -maxdepth 1 -name "${pattern}" -type f)
                count=0
                if [ -n "${results}" ]; then
                  count=$(echo "$results" | wc -l)
                fi
                echo ":::: Found ${count} results:"
                echo "$results"
                echo
                if [ $count -lt 1 ]; then
                  echo ":::: Missing tests for ${platform}!"
                  exit 1
                fi
              done
            done
            echo ":::: done!"
  build-for-windows:
    executor:
      name: win/default
    parameters:
      tasks:
        type: string
      platform:
        type: string
    steps:
      - checkout
      - run: git submodule update --init --recursive
      - install-prtcl-windows
      - test-localcompiler-windows:
          tasks: << parameters.tasks >>
          platform: << parameters.platform >>
      - save-platform-to-workspace:
          os: windows-x64
          tasks: << parameters.tasks >>
          platform: << parameters.platform >>
  build-for-darwin:
    macos:
      xcode: "14.3.1"
    resource_class: macos.m1.medium.gen1
    parameters:
      tasks:
        type: string
      platform:
        type: string
    steps:
      - macos/install-rosetta
      - checkout
      - run: git submodule update --init --recursive
      - install-prtcl-darwin
      - test-localcompiler-nix:
          tasks: << parameters.tasks >>
          platform: << parameters.platform >>
      - save-platform-to-workspace:
          os: darwin-x64
          tasks: << parameters.tasks >>
          platform: << parameters.platform >>
workflows:
  version: 2
  build-and-test:
    jobs:
      - setup-workspace
      - validate-toolchain-platforms:
          requires:
            - setup-workspace
      - build-for-windows:
          requires:
            - validate-toolchain-platforms
          matrix:
            parameters:
              tasks: *tasks
              platform: *platforms
      - build-for-darwin:
          requires:
            - validate-toolchain-platforms
          matrix:
            parameters:
              tasks: *tasks
              platform: *platforms

